<?xml version="1.0" encoding="utf-8"?>
<manifest package="nl.svendubbeld.car"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.dock_home"
                android:value="true"/>

            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name">
                <category android:name="android.intent.category.CAR_DOCK"/>
                <category android:name="android.intent.category.CAR_MODE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LauncherActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name">
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.FetchAddressIntentService"
            android:exported="false"/>
        <service
            android:name=".service.NotificationListenerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.obd.ObdService"
            android:label="@string/obd_service"/>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.svendubbeld.car.activity.MainActivity"/>
        </activity>
    </application>

</manifest>